.main-nav{
    display:flex;
    list-style:none;
    font-size:1em;
    margin: 0;
}

li{
    padding: 20px;
}
.nav-right{
    margin-left:auto;
    display:flex;
}

a{
    text-decoration:none;
}

img{
    height:50px;
    width:50px;
}

@media (min-width: 600px) {

    .main-nav{
        font-size:1.3em;
    }

    img{
        height:100px;
        width:100px;
    }
  }
